[submodule "web/ui/vendors/jmesnil/stomp-websocket"]
	path = web/ui/vendors/jmesnil/stomp-websocket
	url = https://github.com/jmesnil/stomp-websocket.git
[submodule "probonogeek/extjs"]
	path = web/ui/vendors/probonogeek/extjs
	url = https://github.com/probonogeek/extjs.git
