<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>uCall</title>
    <meta name="description" content="uCall UI Application" />
    <meta name="author" content="ucall.org" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/ui/resources/images/favicon.ico" />
    <!-- link rel="apple-touch-icon" href="/ui/resources/images/apple-touch-icon.png" /-->

    <link rel="stylesheet" href="/ui/vendors/probonogeek/extjs/resources/css/ext-all.css">
    <link rel="stylesheet" href="/ui/resources/css/style.css" />

    <!--script type="text/javascript" src="/ui/vendors/probonogeek/extjs/ext-debug.js"></script-->
    <script type="text/javascript" src="/ui/vendors/probonogeek/extjs/ext-all-debug.js"></script>

    {% block content %}
    <script type="text/javascript" src="/config/current_user/"></script>
    <script type="text/javascript" src="/config/urls/"></script>
    <script type="text/javascript" src="/config/stomp/"></script>
    <script type="text/javascript" src="/ui/bootstrap.js"></script>
    {% endblock %}
</head>
<body>
</body>
</html>
